
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Справка</title>
</head>
<body>
  <div class="content">
    <h2>Назначение системы</h2>
    <p>Данная система представляет собой систему моделирования работы платной парковки и имеет следующие возможности:</p>
    <ul>
    <li>процесс составления структуры парковки;</li>
    <li>выбор типа потока транспортных средств;</li>
    <li>выбор закона распределения потока транспортных средств и его параметров;</li>
    <li>настройка модельного времени;</li>
    <li>загрузка структуры парковки из файла;</li>
    <li>сохранение структуры парковки в файл;</li>
    <li>контроль за корректностью построенной парковки;</li>
    <li>визуализация работы парковки;</li>
    <li>симуляция потока транспортных средств с заданными параметрами;</li>
    <li>моделирование времени стоянки;</li>
    <li>отображение информационного табло со статистикой;</li>
    <li>выдача справочной информации о системе.</li>
  </ul>
  <a href="help.html" class="back">Назад</a>
  </div>
</body>
</html>
